<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kids</title>
    <link rel="stylesheet" href="css/kids.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <menu>
        <nav>
            <div class="container">
                <div class="logo">
                    <a href="#"><img src="img/logo.png" alt="Logo"></a>
                </div>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#programs">Наши программы</a></li>
                    <li><a href="#">фонды</a></li>
                    <li><a href="#">Категории</a></li>
                </ul>
                <div class="buttons">
                    <a class="voiti" href="index1.html">Войти</a>
                    <a class="help" href="#">Хочу помочь</a>
                </div>
            </div>
        </nav>
    </menu>

    <section class="programs">
        <div class="container">
            <div class="txt">
                <h1>О программе</h1>
                <p>Программа помощи детям - это инициатива, которая направлена на поддержку и защиту прав и интересов детей, которые находятся в трудной жизненной ситуации.</p>
            </div>
            <div class="program1">
                <div class="photo"></div>
                <div class="txtpro">
                    <div class="row">
                        <p>Благодаря программе помощи детям, многие дети получают возможность обрести надежду на лучшее будущее.</p>
                    </div>
                    <a href="#" class="helpp">Хочу помочь</a>
                </div>
            </div>
        </div>
    </section>

    <section class="whose">
        <div class="container">
            <div class="txt">
                <h1>Кому помогаем</h1>
                <p>Поддерживаем и помогаем детям</p>
            </div>
            <div class="helping">
                <div class="first">
                    <img src="img/helping1.png" alt="baby">
                    <p>детям-сиротам</p>
                </div>
                <div class="first">
                    <img src="img/helping2.png" alt="baby">
                    <p>детям с ограниченными возможностями здоровья</p>
                </div>
                <div class="first">
                    <img src="img/helping3.png" alt="baby">
                    <p>детям из многодетных и малообеспеченных семей</p>
                </div>
                <div class="first">
                    <img src="img/helping4.png" alt="baby">
                    <p>детям, которые подверглись насилию или эксплуатации</p>
                </div>
            </div>
        </div>
    </section>

    <section class="cities">
        <div class="container">
            <h1>Города, в которых помогаем</h1>
            <div class="city">
                <a class="cit" href="#">Кызылорда</a>
                
            </div>
        </div>
    </section>

</body>
</html>